extends ../layouts/default

block intro
	.container
		h1= title
	
block content
	.container
		each result in data.results
			.media
				.media-left
					//- .media-object
					if result.image.exists
						img(src=result._.image.thumbnail(340,340,{ gravity: "face" })).media-object
					else
						.no-image
							.text
							
										
				.media-body
					h2.media-heading= result.name
					!= result.bio
