extends ../layouts/default

block nav
	header.bar.bar-nav
		a(href="#").pull-left.help
			span.icon.ion-ios-information-outline.green
		
		+home-button()
		
		h1.title
			a(href="#popover2")
				span
					div.Hspacer
					= locals.title + " "
					span.icon.icon-caret
		
		

block content
	div#popover2.popover
		ul.table-view
			li.table-view-cell
				a(href='http://events.hartmannbund.de:81', data-ignore="push") Hauptversammlung 2016
			li.table-view-cell
				a(href='http://events.hartmannbund.de', data-ignore="push") Kaminabend 2016
				
					
	.content.homepage
		.welcome
			- var result = data.results[0]
			img(src="/images/logo_gfx_only.svg")
			div
				h1= result.title
				h2= result.subtitle

		nav.menu.home
			each link in navLinks
				button.btn-link.menu-item
					a(href=link.href, data-transition="slide-in")= link.label
						img(src="/images/menu/" + link.label.toLowerCase() + ".svg")
