extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/unterlagen')
		+home-button()
		- var resolution = 'Resolution ' + data.unterlage.number
		h1.title
			a(href="#popover")
				span
					div.Hspacer
					= resolution

block content
	.content.unterlage
		- var title = data.unterlage.title
		- var numberedText = data.unterlage.textNumbered
		- var normalText = data.unterlage.text
		- var date = data.unterlage._.date.moment().locale('de').format('Do MMMM YYYY')
		
		div.table-view.card
			div.table-view-cell.table-view-divider
				h5= title
			div.table-view-cell.table-view-divider
				span= date
			div.table-view-cell
				!= normalText
				//- pre= numberedText
				
				

//- title: { type: String, required: true, index: true, initial: true },
//- number: { type: Types.Number, label: 'Antrag Nr.' },
//- 	type: { type: Types.Select, options: 'resolutionen, referenzen', default: 'resolutionen', initial: true, index: true },
//- textNumbered: { type: Types.Code, language: 'html', label: 'Text with numbered lines' },
//- text: { type: Types.Html, wysiwyg: true, label: 'Info' },
//- date: { type: Types.Date, default: Date.now }
