extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)
				
block content
	.content.unterlagen
		+welcomeIcon(locals.title, 'ion-document-text')
		
		h3.heading.content-padded= data.results[0].type
		div.table-view.card
			each result, i in data.results
				div.table-view-cell
					a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
						if result.number
							span.badge # 
								= result.number
						= result.title



//- title: { type: String, required: true, index: true, initial: true },
//- type: { type: Types.Select, options: 'resolutionen, referenzen', default: 'resolutionen', initial: true, index: true },
//- text: { type: Types.Html, wysiwyg: true, label: 'Info' },
//- textCode: { type: Types.Code, language: 'html' },
//- number: { type: Types.Number, label: 'Use for sorting, if necessary' },
