extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)
				
block content
	.content.unterlagen
		+welcomeIcon(locals.title, 'ion-document-text')
		
		
		//- - if( data.results.length )
			//- - var type = data.results[0].type
			
		- var resolutionen = _.filter(data.results, [ 'type', 'resolutionen' ])
		- var referenzen = _.filter(data.results, [ 'type', 'referenzen' ])
		- var downloads = _.filter(data.results, [ 'type', 'downloads' ])
			
		
		if resolutionen.length
			h3.heading.content-padded Resolutionen
			div.table-view.card
				each result, i in resolutionen
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title

		if referenzen.length
			h3.heading.content-padded Referenzen
			div.table-view.card
				each result, i in referenzen
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title

		if downloads.length
			h3.heading.content-padded Downloads
			div.table-view.card
				each result, i in downloads
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title
