extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)
				
block content
	.content.unterlagen
		+welcomeIcon(locals.title, 'ion-document-text')
		
		
		//- - if( data.results.length )
			//- - var type = data.results[0].type
			
		- var resolutionen = _.filter(data.results, [ 'type', 'resolutionen' ])
		- var referenzen = _.filter(data.results, [ 'type', 'referenzen' ])
		- var downloads = _.filter(data.results, [ 'type', 'downloads' ])
		- var total = 0
		if resolutionen.length
			- total = total + 1
		if referenzen.length
			- total = total + 1
		if downloads.length
			- total = total + 1
		// buttons
		if total > 1
			.bar.bar-standard.bar-header-secondary
				.segmented-control
					if resolutionen.length
						a(href="#resolutionen").control-item Resolutionen
					if referenzen.length
						a(href="#referenzen").control-item Referenzen
					if downloads.length
						a(href="#downloads").control-item Downloads
		
		if resolutionen.length
			a(name="resolutionen")
			h3.heading.content-padded Resolutionen
			div.table-view.card
				each result, i in resolutionen
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title

		if referenzen.length
			a(name="referenzen")
			h3.heading.content-padded Referenzen
			div.table-view.card
				each result, i in referenzen
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title

		if downloads.length
			a(name="downloads")
			h3.heading.content-padded Downloads
			div.table-view.card
				each result, i in downloads
					div.table-view-cell
						a(data-transition="slide-in", href="/unterlagen/" + result.slug).navigate-right
							if result.number
								span.badge= result.number
							= result.title
