extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)
				
block content
	.content.veranstaltungen
		.welcome
			.big-icon
				img(src="/images/calendar.svg")
				h1 Veranstaltungen
		
		
		- var type = null
		each result, i in data.results
			- var newType = String(result.type)
			if type !== newType
				- type = newType
				if type == 'workshop'
					- typeName = 'Workshops'
				else
					- typeName = result.typeOther
				h3.heading.content-padded= typeName
			div.table-view.card
				div.table-view-cell.table-view-divider
					h5= result.title
				div.table-view-cell.table-view-divider
					.meta
						h5.gray
							each leader in result.akteure
								div= leader.name
				div.table-view-cell.normal
					!= result.info			
