extends ../layouts/default

block nav
	header.bar.bar-nav
		+back-button('/')
		+home-button()
		+popover-title(locals.title)
		
	nav.bar.bar-tab.btt
		.tab-item.active.backToTop
			span.icon.icon-up-nav
			span.tab-label Top
		
				
block content
	.content.veranstaltungen
		+welcomeImage(locals.title, '/images/calendar.svg')
		
		- var type = null
		each result, i in data.results
			//- - var newType = String(result.type)
			//- if type !== newType
			//- 	- type = newType
			//- 	if type == 'workshop'
			//- 		- typeName = 'Workshops'
			//- 	else
			//- 		- typeName = result.typeOther
			//- 	h3.heading.content-padded= typeName
			div.table-view.card
				div.table-view-divider
					h5= result.title
				
				- var leaders = result.akteure
				- var location = result.location.info
				
				if leaders
					div.table-view-cell.table-view-divider
						each leader in leaders
							.link
								a(href="/akteure/" + leader.slug, data-transition="slide-in")
									!= leader.name
				if location
					div.table-view-cell.table-view-divider
						div.flex-inline
							!= location
				
				div.table-view-cell.normal
					!= result.info			
