include ../mixins/flash-messages
include ../mixins/extras

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no')

		meta(name='apple-mobile-web-app-title', content='Hartmannbund')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')

		title= title || 'Hartmannbund'
		
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.css", rel="stylesheet")
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head

	//- HTML BODY
	body
		+pop-over()
		block nav					
		block intro
		+flash-messages(messages)
		block content
		block footer


		//- --------------------------------------------------------------
		//- JAVASCRIPT
		script(src='/js/ratchet/standalone-fix.js')
		script(src='/js/jquery/jquery-2.2.4.min.js')
		//- script(src='/js/jquery/jquery-ui-1.12.1.min.js')
		//- script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		//- script(src='/js/barba/barba.min.js')
		//- script(src='/js/fingerblast/fingerblast.min.js')
		script(src='/js/ratchet/ratchet.min.js')
		//- script(src='/js/ratchet/ratchet.js')
		script(src='/js/engine.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		block js
