include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Hartmannbund'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css
		block head

	//- HTML BODY
	body
		.loader.loading
		#barba-wrapper
			.barba-container
			
				//- HEADER
				#header: .container

					//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
					//- ... or completely change this header to suit your design.
					div(role="navigation").navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href='/') Hartmannbund
							.collapse.navbar-collapse
								ul.nav.navbar-nav.navbar-left
									each link in navLinks
										li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

				//- BODY
				#body
					block intro
					+flash-messages(messages)
					block content

		//- FOOTER
		//- .container: #footer
			//- p Built by Heldisch


		//- JAVASCRIPT
		script(src='/js/jquery/jquery-2.1.4.min.js')
		//- script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/barba/barba.min.js')
		script(src='/js/ratchet/ratchet.min.js')
		script(src='/js/engine.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Include template-specific javascript files by extending the js block
		block js
