// @body-bg:     #e6e6e6;
@body-bg:     #f0f0f0;
@link-color:  #009b7d;
@app-primary: #009b7d;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
body {
  font-family: @font-family-sans-serif;
}

@mobile-nav-menu-bg: @link-color;

.auth-box__brand__logo img {
  display: none;
}

.auth-box__brand {
  background-image: url('/images/logo_gfx_only.svg');
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center center;
  padding: 0;
}

.octicon-home:before {
	content: 'Hartmannbund';
}
