h1 {
  letter-spacing: 0.2px;
}

.content {
  padding-bottom: 1em;
}

.btn.home-button {
  border: 0;
  background: transparent;
  padding: 0;
}
.home-button img {
  height: 29px;
  width: auto;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include portrait {
    height: 80vw;
    .icon {
      font-size: 40vw;
    }
    img {
      width: 40vw;
      margin-bottom: 0.5em;
    }
  }
  @include landscape {
    height: 40vh;
    .icon {
      font-size: 25vh;
    }
    img {
      height: 25vh;
    }
  }
  h1 {
    margin-top: 0.4em;
    font-size: 5vh;
  }
  .icon {
    color: $primary;
  }
}
.homepage .welcome {
  @include portrait {
    // height: calc(100vh - 78vw);
    // height: calc(100vh - 78vw);
    height: calc(50vh);
    // background: pink;
    h1 {
      font-size: 7vw;
    }
    h2 {
      font-size: 5.18vw;
    }
    img {
      height: 20vh;
    }
    div {
      text-align: center;
    }
  }
  @include landscape {
    height: 57vh;
    flex-direction: row;
    h1 {
      font-size: 4vw;
    }
    h2 {
      font-size: 2.95vw;
    }
    img {
      height: 35vh;
      margin-right: 1em;
    }
  }
  @include ipad(landscape) {
    height: calc(100vh - 21vw);
  }
  @include ipad(portrait) {
    height: calc(100vh - 23vw);
  }
}


.no-image { // .media-object
	width: 170px; // real width = 340px
	height: 170px;
	background-position: center center;
	background-repeat: no-repeat;
	font: 20px/1 serif;
}

.bar-footer.hidden {
  bottom: -300px;
}

.menu {
  background: #efefef;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  // padding-bottom: 5px;
}
.menu .menu-item {
  // transition: all 75ms linear;
  flex-direction: row;
  width: 16.3%;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  @include screen(320px, 735px, portrait) {
    width: 32.5%;
    margin-top: 1%;
  }
}
.touched {
  opacity: 0.8;
}
.Hspacer:before {
  content: ""
}
.Hspacer {
  display: inline-block;
  width: 20px;
}
.Hspacer.sm {
  width: 3px;
}

// .media {
//   display: flex;
// }
// .media-left img {
//   width: 30.5vw;
//   height: auto;
// }
// .media-body {
//   padding-left: 1em;
// }


.index {
  -webkit-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  background-color: #26AA8d;// #169A7d;
  opacity: 0.95;
  margin-bottom: 5px;
}
.index-item {
  display: inline-block;
  @include screen(320px, 735px, portrait) {
    width: 30%;
    // width: calc(33.333% - 10px);
    width: calc(33.333%);
    height: 33.3vw;
  }
  // landscape
  // width: 15%;
  // width: calc(16.666% - 10px);
  // width: 16.666%;
  // height: 16vw;
  width: 20%;
  height: 20vw;
  padding: 0 3px;
  // margin: 0 5px 10px 5px;
  background-blend-mode: multiply;
  background-color: #26AA8d;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  font-size: 2.2vw;
  @include screen(320px, 735px, portrait) {
    font-size: 4.1vw;
  }
  line-height: 1.3em;
  float: left;
}
.clear:before {
  content: "";
}
.clear {
  clear: both;
  float: none;
}
.spacer:before {
  content: "";
}
.spacer {
  font-size: 0;
  line-height: 0;
  height: 10px;
}
.index a {
  color: white;
}
.body {
  margin-top: 0;
}
.person {
  padding-top: 30px;
  padding-bottom: 15px;
  // min-height: 39vw;
}
img.portrait, div.portrait {
  // width: calc(33.333% - 10px);
  // width: 35%;
  width: 32vw;
  height: auto;
  // min-height: 30vw;
  float: left;
  margin: 0 15px 0 0;
  border-radius: 4px;
  text-align: center;
  background-color: #DDD;
}
// h4.name {
//   font-weight: bold;
// }

.sep:before {
  content: ""
}
.sep {
  border-bottom: 1px black solid;
  opacity: 0.15;
  // margin: 20px 0 20px;
}

.programm {
  ol,ul {
    // padding-left: 1em;
    padding: 0 0 0 1.1em;
    margin: 10px 0;
    // line-height: 1.3em;
  }
  ol {
    color: #8f8f8f;
  }
}

.programm, .people, .locations, .galleries, .veranstaltungen, .akteur, .unterlage {

  // font-size: 0.75em;
  font-size: 0.85em;

  h5 {
    margin: 7px 0;
    letter-spacing: 0.5px;
    // font-weight: bold;
    text-transform: none;
    color: $primary;
    line-height: 1.2em;
    font-size: 1.3em;
  }
  h5.gray {
    // color: #999;
    color: #333;
    font-size: 1em;
  }

  .table-view-cell {
    padding-right: 15px;
    p {
      margin-bottom: 0.5em;
    }
  }
  .table-view-cell.normal {
    padding-right: 0;
    margin-right: 15px;
    p {
      font-size: 1em;
      line-height: 1.55em;
    }
  }
  .time {
    min-width: 6em;
    font-weight: bold;
  }

}

.item-view {
  // display: none;
}

.time-view {
  display: none;
  .redline:before {
    content: ""
  }
  .redline {
    border-bottom: 2px red solid;
    position: relative;
    z-index: 999;
    display: none;
    opacity: 0.8;
    z-index: 999;
    margin-left: -15px;
  }
  .table-view-divider {
  }
  .table-view-cell {
    // font-size: 14px;
    // line-height: 1.3em;
    padding: 10px 0 0 15px !important;
    background-position: 0 100% !important
  }
  .time {
    min-width: 4em;
  }
  .more, p, ul, ol {
    display: none;
    font-size: 14px !important;
    line-height: 1.3em;
    // margin: 0 !important;
    // padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #AAA;
  }
}

.people .table-view-cell.normal {
  padding: 1em 0 20px 15px;
  p {
    margin-bottom: 0;
  }
}
.locations .ion-map  {
  // position: relative;
  // top: 3px;
}
.locations .map:before {
  content: "";
}
.locations .map {
  background-size: contain;
  background-repeat: no-repeat;
  // border-bottom: 1px #ccc solid;
  margin-bottom: 12px;
  line-height: 0;
  font-size: 0;
  -webkit-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px -10px 20px 0px rgba(0,0,0,0.2);
  background-blend-mode: multiply;
  background-color: #26AA8d;// #169A7d;
  opacity: 0.95;
}
.locations .map img {
  opacity: 0;
  width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.table-view.card.photo {
    padding: 5px 5px 1px 5px;
}

.table-view.card.video {
  line-height: 0;
  font-size: 0;
  padding: 5px
}


.photos img {
  width: 100%;
  height: auto;
}
.photos {
  right: -100vw;
}
.videos {
  margin-bottom: 50px;
  right: -100vw;
}
.photos, .videos {
  // margin-top: 10px;
  margin-bottom: 60px;
  display: none;
  position: relative;
}

.modal .content {
  background: black;
  display: flex;
  align-items: center;
}
.slider img {
  max-width: 100%;
  height: auto;
}

.galleries {
  .photos, .videos {
    position: absolute;
    width: 100vw;
  }
}

.video {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.videos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.programm, .veranstaltungen, .unterlagen {
  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    // text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    opacity: 0.6;
    font-weight: normal !important;
    letter-spacing: 0.5px;
  }
}

.veranstaltungen {
  .table-view-cell.table-view-divider {
    font-size: 1em;
    color: #444;
  }
}

.unterlage {
  p {
    color: #333;
    margin-bottom: 1em;
  }
}

.locations .table-view-cell > .btn {
  right: 5px;
  padding: 11px;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.green {
  color: $primary;
}
.help {
  cursor: pointer;
}

nav.bar.bar-tab.btt {
  bottom: -60px;
}

.pdf-viewer {
  // position: fixed;
  // top: 0;
  // left: 0;
  height: 100%;
  width: 100%;
  // padding-top: 44px;
  // padding-bottom: 50px;
  // z-index: 2;
  display: none;
}
.pdf-viewer iframe {
  width: 100%;
  height: 100%;
}
