$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600";
@import url($web-font-path);
$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// @import url('/fonts/bootstrap/glyphicons-halflings-regular.ttf');

$primary: #169A7d;

.bar {
  border-bottom: 1px #CACACA solid !important;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.20) !important;
}

.center { text-align: center !important; }
.pad30 { padding: 30px; }
.padH30 { padding-top: 30px; padding-bottom: 30px; }
.padW60 { padding-left: 60px; padding-right: 60px; }
.mb1 { margin-bottom: 1em; }
.mb15 { margin-bottom: 1.5em; }
.mb2 { margin-bottom: 2em; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, .btn {
  font-family: $font-family-sans-serif !important;
}
body {
  font-weight: 400;
}
h1, h2, h3, strong, b, .title {
  font-weight: 600 !important;
}
h4, h5, h6 {
  font-weight: 400;
}


.loading {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="#169A7d"><path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/><path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"><animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" /></path></svg>');
}

.no-image {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='#CCC' stroke-width='0.5'/><path d='M0 0 L100 100 ' stroke='#CCC' stroke-width='0.5'/></svg>");
}

.loading {
	// background-color: $primary;
	background-size: 50% 50%;
}
.no-image {
	background-color: #f0f0f0;
	background-size: 100% 100%, auto;
	display: flex;
	align-items: center;
	text-align: center;
}
.no-image:before {
	content: "\200B";
}
.no-image .text:before {
	content: 'Photo';
}
.no-image .text {
	font-family: sans-serif;
	font-size: 10px;
	background: #f0f0f0;
	text-align: center;
	color: #aaa;
	margin: 0 auto;
	padding: 5px;
	text-transform: uppercase;;
}
.loading {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
}
.loader {
	background-color: transparent;
	// background-color: rgba(36, 138, 105, 0.5);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}




.locked {
  display: none;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.locked .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
}
.locked .container {
  // padding: 0 25%;
  width: 100%;
  text-align: center;
  .label {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    display: none;
  }
  input {
    font-size: 30px;
    // letter-spacing: 10px;
    padding-left: 20px;
    // text-align: center;
    border: 2px white solid;
    background: transparent;
    color: white;
    width: 150px;
    border-radius: 5px !important;
  }
  input:focus {
    // box-shadow: 0 0 50px rgba(235,255,245,0.3);
  }
  margin-bottom: 50px;
}

.unlocker {
  width: 60px;
  height: 40px;
  background: transparent;
  border: 10px solid white;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  position: absolute;
  top: -40px;
  left: 20px;
  -webkit-transition: all .3s;
}
.lock {
  margin: 0 auto 40px;
  content: "";
  width: 100px;
  height: 80px;
  background: white;
  position: relative;
  border-radius: 8px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.unlockit {
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-origin: 60px 0;
  transform: rotateY(-180deg);
  transform-origin: 55px 0;
  // box-shadow: 0 0 50px rgba(235,255,245,0.5);
}
